body{
    margin: 0;
    padding: 0;
    background: url(antro.png);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#app {
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    color: rgb(173, 236, 25);
    background-color: black;
}

#output {
    margin-top: 20px;
    color: aliceblue;
}

h1 {
background-color: aliceblue;
margin: 120px;
}